<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button onclick="addSession()">添加session</button>
    <button onclick="delSession()">删除session</button>
    <h3>
        username is <%=username%>
            <p>
                id is <%=id%>,age is <%=age%>,name is <%=name%>
            </p>
            <%=counter%>
    </h3>
</body>
<script>
    function addSession() {
        fetch("/addSession", {
            method: "post",
            headers: {
                "Content-type": "application/json"
            }
        })
    }
    function delSession() {
        fetch("/delSession", {
            method: "post",
            headers: {
                "Content-type": "application/json"
            }
        })
    }
</script>

</html>